.list{
    color: #fff;
    margin-left: 20px;
    h2{
        margin: 38px 18px 18px 0;
        font-size: 28px;
        font-weight: 400;
    }
    .list-posters{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;
        }        
        .poster{
            min-width: 200px;
            margin-left: 20px;
            object-fit: contain;
            cursor: pointer;
            transition: transform linear ease-in-out 355ms;
            img{
                width: 100%;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
    }
}

.thumbnail{
    min-height: 250px;
    img{
        height: 100%;
    }
}